html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  background-image: url("index.png");
  background-size: cover;
  margin: 0;
  font-family: "Lato";
}

p {
  font-size: 0.8rem;
  margin: .5rem 0;
}

.container {
  width: 15rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.25rem;
}

#file-label, #secret, #time, #upload, #progress {
  width: 100%;
  box-sizing: border-box;
}

#file-label, #secret, #time, #upload {
  height: 2.5rem;
  margin: .5rem 0;
  font-size: 1rem;
}

#file-label, #secret, #time-container, #upload {
  margin: 1rem 0;
  display: block;
}

#secret, #time {
  border: none;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: none;
  border-radius: 0;
}

#file {
  margin: -1rem 0;
}

#secret.red {
  border-left: 1px solid rgb(195, 45, 45);
  border-right: 1px solid rgb(195, 45, 45);
}

#secret.green {
  border-left: 1px solid rgb(90, 179, 69);
  border-right: 1px solid rgb(90, 179, 69);
}

#time-container {
  display: none;
}

#file-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#file-label {
  background-color: rgb(65, 120, 215);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#upload {
  background-color: rgb(90, 179, 69);
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

#progress {
  display: none;
  margin-top: 1.5rem;
}

#floater {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
  border-top-left-radius: 0.25rem;
  padding: 0.5rem;
  opacity: 0.25;
}

#floater:hover {
  opacity: 1;
}
