html {
  height: 100%;
  font-size: 20px;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  background-image: url("index.png");
  background-size: cover;
  margin: 0;
  font-family: "Lato";
}

.container {
  width: 15rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.25rem;
}

#upload {
  background-color: rgb(90, 179, 69);
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

#secret {
  border: none;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 0;
}

#file-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#file-label {
  background-color: rgb(65, 120, 215);
  color: white;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#file-label, #secret, #upload, #progress {
  width: 100%;
  box-sizing: border-box;
}

#file-label, #secret, #upload {
  height: 2.5rem;
  font-size: 0.9rem;
}

#progress {
  display: none;
  margin-top: 1.5rem;
}
